@page
@model FODMATE.DietHistoryModel
@{
    ViewData["Title"] = "DietHistory";
    Layout = "Shared/_LayoutUser";
}
<form method="post">
    <div class="form-group row">
        <div class="col-md-3">
            <select class="form-control Day" name="Day">
                @for (var x = 1; x <= 31; x++)
                {
                    <option>@x</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-control Month" name="Month">
                <option>Styczeń</option>
                <option>Luty</option>
                <option>Marzec</option>
                <option>Kwiecień</option>
                <option>Maj</option>
                <option>Czerwiec</option>
                <option>Lipiec</option>
                <option>Sierpień</option>
                <option>Wrzesień</option>
                <option>Październik</option>
                <option>Listopad</option>
                <option>Grudzień</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-control Year" name="Year">
                @for (var x = 2020; x >= 1901; x--)
                {
                    <option>@x</option>
                }
            </select>
        </div>
    </div>
    <div class="container-login100-form-btn p-t-10">
        <button type="submit" id="submit_btn" class="submit btn btn-info pull-right">TAK</button>
    </div>
</form>
<form>
    <ul class="list-group" id="Breakfast">
        <li class="list-group-item">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Śniadanie</li>
                @foreach (var product in Model.BreakfastSum)
                {
                    <li class="list-group-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">@product.Kcal</li>
                            <li class="list-group-item">@product.Protein</li>
                            <li class="list-group-item">@product.Carbs</li>
                            <li class="list-group-item">@product.Fats</li>
                        </ul>
                    </li>
                }
            </ul>
        </li>
        @foreach (var product in Model.BreakfastProducts)
        {
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">@product.ProductName</li>
                    <li class="list-group-item">@product.ProductAmmount</li>
                    <li class="list-group-item">@product.ProductKcal</li>
                    <li class="list-group-item">@product.ProductProtein</li>
                    <li class="list-group-item">@product.ProductCarbs</li>
                    <li class="list-group-item">@product.ProductFats</li>
                </ul>
            </li>
        }
    </ul>
    <ul class="list-group" id="SecondBreakfast">
        <li class="list-group-item">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">II Śniadanie</li>
                @foreach (var product in Model.SecondBreakfastSum)
                {
                    <li class="list-group-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">@product.Kcal</li>
                            <li class="list-group-item">@product.Protein</li>
                            <li class="list-group-item">@product.Carbs</li>
                            <li class="list-group-item">@product.Fats</li>
                        </ul>
                    </li>
                }
            </ul>
        </li>
        @foreach (var product in Model.SecondBreakfastProducts)
        {
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">@product.ProductName</li>
                    <li class="list-group-item">@product.ProductAmmount</li>
                    <li class="list-group-item">@product.ProductKcal</li>
                    <li class="list-group-item">@product.ProductProtein</li>
                    <li class="list-group-item">@product.ProductCarbs</li>
                    <li class="list-group-item">@product.ProductFats</li>
                </ul>
            </li>
        }
    </ul>
    <ul class="list-group" id="Dinner">
        <li class="list-group-item">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Obiad</li>
                @foreach (var product in Model.DinnerSum)
                {
                    <li class="list-group-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">@product.Kcal</li>
                            <li class="list-group-item">@product.Protein</li>
                            <li class="list-group-item">@product.Carbs</li>
                            <li class="list-group-item">@product.Fats</li>
                        </ul>
                    </li>
                }
            </ul>
        </li>
        @foreach (var product in Model.DinnerProducts)
        {
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">@product.ProductName</li>
                    <li class="list-group-item">@product.ProductAmmount</li>
                    <li class="list-group-item">@product.ProductKcal</li>
                    <li class="list-group-item">@product.ProductProtein</li>
                    <li class="list-group-item">@product.ProductCarbs</li>
                    <li class="list-group-item">@product.ProductFats</li>
                </ul>
            </li>
        }
    </ul>
    <ul class="list-group" id="Supper">
        <li class="list-group-item">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Kolacja</li>
                @foreach (var product in Model.SupperSum)
                {
                    <li class="list-group-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">@product.Kcal</li>
                            <li class="list-group-item">@product.Protein</li>
                            <li class="list-group-item">@product.Carbs</li>
                            <li class="list-group-item">@product.Fats</li>
                        </ul>
                    </li>
                }
            </ul>
        </li>
        @foreach (var product in Model.SupperProducts)
        {
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">@product.ProductName</li>
                    <li class="list-group-item">@product.ProductAmmount</li>
                    <li class="list-group-item">@product.ProductKcal</li>
                    <li class="list-group-item">@product.ProductProtein</li>
                    <li class="list-group-item">@product.ProductCarbs</li>
                    <li class="list-group-item">@product.ProductFats</li>
                </ul>
            </li>
        }
    </ul>
</form>
<a class=" text-dark" asp-area="" asp-page="../HomePage">Powrót do strony głównej</a>

<a class=" text-dark" asp-area="" asp-page="Diet">Powrót do rozkładu diety</a>