@page
@model FODMATE.DietHistoryModel
@{
    ViewData["Title"] = "DietHistory";
    Layout = "Shared/_LayoutUser";
}
    <div class="container d-flex flex-column">
        <form method="post">
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Data</label>
                <select class="custom-select col-sm-2 form-control Day" name="Day">
                    @for (var x = 1; x <= 31; x++)
                    {
                        <option>@x</option>
                    }
                </select>
                <select class="custom-select col-sm-2 form-control Month" name="Month">
                    <option>Styczeń</option>
                    <option>Luty</option>
                    <option>Marzec</option>
                    <option>Kwiecień</option>
                    <option>Maj</option>
                    <option>Czerwiec</option>
                    <option>Lipiec</option>
                    <option>Sierpień</option>
                    <option>Wrzesień</option>
                    <option>Październik</option>
                    <option>Listopad</option>
                    <option>Grudzień</option>
                </select>
                <select class="custom-select col-sm-2 form-control Year" name="Year">
                    @for (var x = 2020; x >= 1901; x--)
                    {
                        <option>@x</option>
                    }
                </select>
            </div>
            <div class="form-group row justify-content-center">
                <button type="submit" id="submit_btn" class="submit btn btn-info pull-right">TAK</button>
            </div>
        </form>

        <div class="container d-flex flex-column">
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label mx-2  text-center">Kcal</label>
                <label class="col-sm-2 col-form-label mx-2  text-center">Białko</label>
                <label class="col-sm-2 col-form-label mx-2  text-center">Węglodowany</label>
                <label class="col-sm-2 col-form-label mx-2 text-center">Tłuszcze</label>
            </div>
            <div class="form-group row justify-content-center">
                @foreach (var sum in Model.DailySum)
                {
                    foreach (var daily in Model.DailyRequirements)
                    {
                        <label class="col-sm-2 col-form-label mx-2 text-center">@sum.Kcal / @daily.Kcal kcal</label>
                        <label class="col-sm-2 col-form-label mx-2 text-center">@sum.Protein / @daily.Protein g</label>
                        <label class="col-sm-2 col-form-label mx-2 text-center">@sum.Carbs / @daily.Carbs g</label>
                        <label class="col-sm-2 col-form-label mx-2 text-center">@sum.Fats / @daily.Fats g</label>
                    }
                }
            </div>
            <div class="form-group row justify-content-center">
                @foreach (var progress in Model.ProgressBarType)
                {
                    foreach (var procent in Model.DailyMacroProc)
                    {
                        <div class="progress col-sm-2 mx-2">
                            <div class="progress-bar @progress.Kcal_type h-50 align-self-center" role="progressbar" style="width: @procent.Kcal_proc%" aria-valuenow=@procent.Kcal_proc aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress col-sm-2 mx-2">
                            <div class="progress-bar @progress.Protein_type h-50 align-self-center" role="progressbar" style="width: @procent.Protein_proc%" aria-valuenow=@procent.Protein_proc aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress col-sm-2 mx-2">
                            <div class="progress-bar @progress.Carbs_type h-50 align-self-center" role="progressbar" style="width: @procent.Carbs_proc%" aria-valuenow=@procent.Carbs_proc aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress col-sm-2 mx-2">
                            <div class="progress-bar @progress.Fats_type h-50 align-self-center" role="progressbar" style="width: @procent.Fats_proc%" aria-valuenow=@procent.Fats_proc aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    }
                }
            </div>
            <form method="post" class="border border-dark rounded">
                <div class="container d-flex flex-column">
                    <div class="form-group row mt-2">
                        <label class="col-sm-2 col-form-label mx-2">Śniadanie</label>
                        @foreach (var product in Model.BreakfastSum)
                        {
                            <label class="col-sm-2 col-form-label mx-2 text-center">@product.Kcal kcal</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">B: @product.Protein g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">W: @product.Carbs g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">T: @product.Fats g</label>
                        }
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary btn-success form-control text-center" name="BreakfastButton" value="Dodaj" />
                        </div>
                    </div>
                    @foreach (var product in Model.BreakfastProducts)
                    {
                        <div class="form-group row border-bottom border-dark">
                            <label class="col-sm-2 col-form-label mx-2 text-center">@product.ProductName</label>
                            <label class="col-sm-1 col-form-label mx-2 text-center">@product.ProductAmmount g</label>
                            <label class="col-sm-1 col-form-label mx-2 text-center">@product.ProductKcalPerPortion kcal</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">B: @product.ProductProteinPerPortion g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">W: @product.ProductCarbsPerPortion g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">T: @product.ProductFatsPerPortion g</label>
                            <a class="text-dark" asp-page-handler="Delete" asp-route-id="@product.MealID"><img src="~/img/remove_icon.png" class="icon" height="25" width="25" /></a>
                        </div>
                    }
                </div>
                <div class="container d-flex flex-column">
                    <div class="form-group row mt-2">
                        <label class="col-sm-2 col-form-label mx-2">II Śniadanie</label>
                        @foreach (var product in Model.SecondBreakfastSum)
                        {
                            <label class="col-sm-2 col-form-label mx-2 text-center">@product.Kcal kcal</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">B: @product.Protein g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">W: @product.Carbs g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">T: @product.Fats g</label>
                        }
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary btn-success form-control text-center" name="SecondBreakfastButton" value="Dodaj" />
                        </div>
                    </div>
                    @foreach (var product in Model.SecondBreakfastProducts)
                    {
                        <div class="form-group row border-bottom border-dark">
                            <label class="col-sm-2 col-form-label mx-2 text-center">@product.ProductName</label>
                            <label class="col-sm-1 col-form-label mx-2 text-center">@product.ProductAmmount g</label>
                            <label class="col-sm-1 col-form-label mx-2 text-center">@product.ProductKcalPerPortion kcal</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">B: @product.ProductProteinPerPortion g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">W: @product.ProductCarbsPerPortion g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">T: @product.ProductFatsPerPortion g</label>
                            <a class="text-dark" asp-page-handler="Delete" asp-route-id="@product.MealID"><img src="~/img/remove_icon.png" class="icon" height="25" width="25" /></a>
                        </div>
                    }
                </div>
                <div class="container d-flex flex-column">
                    <div class="form-group row mt-2">
                        <label class="col-sm-2 col-form-label mx-2">Obiad</label>
                        @foreach (var product in Model.DinnerSum)
                        {
                            <label class="col-sm-2 col-form-label mx-2 text-center">@product.Kcal kcal</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">B: @product.Protein g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">W: @product.Carbs g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">T: @product.Fats g</label>
                        }
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary btn-success form-control text-center" name="DinnerButton" value="Dodaj" />
                        </div>
                    </div>
                    @foreach (var product in Model.DinnerProducts)
                    {
                        <div class="form-group row border-bottom border-dark">
                            <label class="col-sm-2 col-form-label mx-2 text-center">@product.ProductName</label>
                            <label class="col-sm-1 col-form-label mx-2 text-center">@product.ProductAmmount g</label>
                            <label class="col-sm-1 col-form-label mx-2 text-center">@product.ProductKcalPerPortion kcal</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">B: @product.ProductProteinPerPortion g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">W: @product.ProductCarbsPerPortion g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">T: @product.ProductFatsPerPortion g</label>
                            <a class="text-dark" asp-page-handler="Delete" asp-route-id="@product.MealID"><img src="~/img/remove_icon.png" class="icon" height="25" width="25" /></a>
                        </div>
                    }
                </div>
                <div class="container d-flex flex-column">
                    <div class="form-group row mt-2">
                        <label class="col-sm-2 col-form-label mx-2">Kolacja</label>
                        @foreach (var product in Model.SupperSum)
                        {
                            <label class="col-sm-2 col-form-label mx-2 text-center">@product.Kcal kcal</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">B: @product.Protein g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">W: @product.Carbs g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">T: @product.Fats g</label>
                        }
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-primary btn-success form-control text-center" name="SupperButton" value="Dodaj" />
                        </div>
                    </div>
                    @foreach (var product in Model.SupperProducts)
                    {
                        <div class="form-group row border-bottom border-dark">
                            <label class="col-sm-2 col-form-label mx-2 text-center">@product.ProductName</label>
                            <label class="col-sm-1 col-form-label mx-2 text-center">@product.ProductAmmount g</label>
                            <label class="col-sm-1 col-form-label mx-2 text-center">@product.ProductKcalPerPortion kcal</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">B: @product.ProductProteinPerPortion g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">W: @product.ProductCarbsPerPortion g</label>
                            <label class="col-sm-2 col-form-label mx-2 text-center">T: @product.ProductFatsPerPortion g</label>
                            <a class="text-dark" asp-page-handler="Delete" asp-route-id="@product.MealID"><img src="~/img/remove_icon.png" class="icon" height="25" width="25" /></a>
                        </div>
                    }
                </div>
            </form>
            <div class="container d-flex flex-column">
                <div class="form-group row mt-2 justify-content-center">
                        <a class=" text-dark" asp-area="" asp-page="../HomePage"><img src="~/img/home_icon.png" class="icon" height="50" width="50" /></a>
                    <div class="col-sm-1"></div>
                        <a class=" text-dark" asp-area="" asp-page="Diet"><img src="~/img/diet-icon.png" class="icon" height="60" width="60" /></a>
                </div>
            </div>
        </div>
</div>