@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FODMATE.ProgressGymModel
@{
    Layout = "Shared/_LayoutUser";
    ViewData["Title"] = "ProgressGym";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <title>ColumnChart</title>
</head>

<body>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

    <h1>Welcome user with ID: @Model.userID</h1>
    <div class="p-2 w-50">
        <form method="post">
            <div class="form-group row">
                <div class="col-md-3">
                    <select class="form-control StartDay" name="StartDay">
                        @for (var x = 1; x <= 31; x++)
                        {
                            <option>@x</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control StartMonth" name="StartMonth">
                        <option>Styczeń</option>
                        <option>Luty</option>
                        <option>Marzec</option>
                        <option>Kwiecień</option>
                        <option>Maj</option>
                        <option>Czerwiec</option>
                        <option>Lipiec</option>
                        <option>Sierpień</option>
                        <option>Wrzesień</option>
                        <option>Październik</option>
                        <option>Listopad</option>
                        <option>Grudzień</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control StartYear" name="StartYear">
                        @for (var x = 2020; x >= 1901; x--)
                        {
                            <option>@x</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <select class="form-control EndDay" name="EndDay">
                        @for (var x = 1; x <= 31; x++)
                        {
                            <option>@x</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control EndMonth" name="EndMonth">
                        <option>Styczeń</option>
                        <option>Luty</option>
                        <option>Marzec</option>
                        <option>Kwiecień</option>
                        <option>Maj</option>
                        <option>Czerwiec</option>
                        <option>Lipiec</option>
                        <option>Sierpień</option>
                        <option>Wrzesień</option>
                        <option>Październik</option>
                        <option>Listopad</option>
                        <option>Grudzień</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control EndYear" name="EndYear">
                        @for (var x = 2020; x >= 1901; x--)
                        {
                            <option>@x</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label id="Lift">Część ciała</label>
                <select class="form-control Lift" name="Lift">
                    <option>Wyciskanie leżąc</option>
                    <option>Wyciskanie stojąc</option>
                    <option>Przysiad</option>
                    <option>Martwy ciąg</option>
                </select>
            </div>
            <div class="container-login100-form-btn p-t-10">
                <input type="submit" id="submit_btn" class="submit btn btn-info pull-right" asp-page-handler="ChartGenerator" value="TAK" />
            </div>
        </form>
    </div>
    <div>
        <div id="chartContainer">@Html.Raw(ViewData["Chart"])</div>
    </div>
</body>
</html>
