@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProgressBodyModel
@{
    Layout = "Shared/_LayoutUser";
    ViewData["Title"] = "Progress";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <title>ColumnChart</title>
</head>
<body>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

    <div class="container d-flex flex-column">
        <form method="post">
            <div class="form-group row justify-content-center">
                <label class="col-sm-1 col-form-label">Od</label>
                <select class="custom-select col-sm-1 form-control StartDay" name="StartDay">
                    @for (var x = 1; x <= 31; x++)
                    {
                        <option>@x</option>
                    }
                </select>
                <select class="custom-select col-sm-2 form-control StartMonth" name="StartMonth">
                    <option>Styczeń</option>
                    <option>Luty</option>
                    <option>Marzec</option>
                    <option>Kwiecień</option>
                    <option>Maj</option>
                    <option>Czerwiec</option>
                    <option>Lipiec</option>
                    <option>Sierpień</option>
                    <option>Wrzesień</option>
                    <option>Październik</option>
                    <option>Listopad</option>
                    <option>Grudzień</option>
                </select>
                <select class="custom-select col-sm-2 form-control StartYear" name="StartYear">
                    @for (var x = 2020; x >= 1901; x--)
                    {
                        <option>@x</option>
                    }
                </select>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-sm-1 col-form-label">Do</label>
                <select class="custom-select col-sm-1 form-control EndDay" name="EndDay">
                    @for (var x = 1; x <= 31; x++)
                    {
                        <option>@x</option>
                    }
                </select>
                <select class="custom-select col-sm-2 form-control EndMonth" name="EndMonth">
                    <option>Styczeń</option>
                    <option>Luty</option>
                    <option>Marzec</option>
                    <option>Kwiecień</option>
                    <option>Maj</option>
                    <option>Czerwiec</option>
                    <option>Lipiec</option>
                    <option>Sierpień</option>
                    <option>Wrzesień</option>
                    <option>Październik</option>
                    <option>Listopad</option>
                    <option>Grudzień</option>
                </select>
                <select class="custom-select col-sm-2 form-control EndYear" name="EndYear">
                    @for (var x = 2020; x >= 1901; x--)
                    {
                        <option>@x</option>
                    }
                </select>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Część ciała</label>
                <select class="custom-select col-sm-2 form-control BodyPart" name="BodyPart">
                    <option>Lewa łydka</option>
                    <option>Prawa łydka</option>
                    <option>Lewe udo</option>
                    <option>Prawe udo</option>
                    <option>Pośladki</option>
                    <option>Pas</option>
                    <option>Klatka piersiowa</option>
                    <option>Lewe ramię</option>
                    <option>Prawe ramię</option>
                    <option>Lewe przedramię</option>
                    <option>Prawe przedramię</option>
                    <option>Waga</option>
                </select>
                <div class="col-sm-1"></div>
                <input type="submit" id="submit_btn" class="submit btn btn-info pull-right" asp-page-handler="ChartGenerator" value="TAK" />
            </div>
        </form>
        <div id="chartContainer" class="align-self-center">@Html.Raw(ViewData["Chart"])</div>
    </div>
</body>
</html>